.econ-diagram {

    --width-axis: 2px;
    --width-bg: 8px;
    --width-curve: 5px;
    --width-curve-hovered: 7px;
    --width-form-label: 15ch;
    --width-form-display: 4ch;
    --width-form-input: 150px;

    --color-axis: #000000;
    --color-bg: var(--green9);
    --color-bg-stroke: var(--green7);
    --color-dashed: #999999;
    --color-tick: #000000;
    --color-label: #000000;
    --color-toggle: var(--green4);
    --color-tab: var(--green7);
    --color-tabtext: var(--green3);
    --color-tab-active: var(--green3);
    --color-tabtext-active: var(--green9);
    --color-area-green: #7fc6a4;
    --color-area-red: #f697bb;

    --font-size: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1em 0;

    & .tabset {
        display: flex;
        gap: 1em;

        & .tab-btn {
            background: var(--color-tab);
            color: var(--color-tabtext);
            padding: .25em .5em;
            border-radius: 2px;
            opacity: .8;
            transition: 
                opacity .1s ease-in, 
                background .1s ease-in;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }

            &.active {
                background: var(--color-tab-active);
                color: var(--color-tabtext-active);
            }
        }
    }

    & .forms {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: .5rem;

        width: 100%;

        & > * {
            flex-basis: 40%;
        }

        & .diagram-form {
            display: flex;
            flex-direction: row;

            & .diagram-form-label {
                width: var(--width-form-label);
                color: var(--green3);
            }

            & .diagram-form-inputs {
                
                display: flex;
                align-items: center;
                width: 100%;
                max-width: 100%;

                & .display {
                    width: var(--width-form-display);
                    flex-shrink: 1.5;
                    font-weight: 700;
                    text-align: right;
                    padding-right: .5em;
                }

                & input[type=range] {
                    width: var(--width-form-input);
                }
            }

        }
    }

    & .diagram {
        width: 570px;
        max-width: 100%;
        position: relative;
    }

    & .bg {
        fill: var(--color-bg);
        stroke: var(--color-bg-stroke);
        stroke-width: var(--width-bg);
    }

    & svg {
        position: relative;
    }

    & .curve {
        fill: none;
        stroke-width: var(--width-curve);
        mix-blend-mode: darken;
        cursor: pointer;

        &.hovered {
            stroke-width: var(--width-curve-hovered);
        }
    }

    & .curve-label {
        fill: var(--color-label);
        font-size: var(--font-size);
        font-weight: bold;
        dominant-baseline: middle;
        transition: opacity .2s ease-in-out;

        &.hide-label {
            opacity: 0;
        }
    }

    & .clip {
        fill: white;
    }

    & .area {
        fill: var(--color-area-green);
        opacity: .25;

        &.invert {
            fill: var(--color-area-red);
        }

        &.hovered {
            opacity: .5;
        }
    }

    & .axis {

        & .axis-line {
            fill: none;
            stroke: var(--color-axis);
            stroke-width: var(--width-axis);
        }

        & .axis-text {
            fill: var(--color-axis);
            font-size: var(--font-size);
            
            &.axis-text-x {
                text-anchor: start;
                dominant-baseline: middle;
            }

            &.axis-text-y {
                text-anchor: middle;
            }
        }
    }

    & .guide {

        & .dashed-line {
            fill: none;
            stroke: var(--color-dashed);
            stroke-dasharray: 4 4;
        }

        & .tick {
            fill: var(--color-tick);
            font-size: var(--font-size);
            
            &.tick-x { 
                text-anchor: middle;
                dominant-baseline: hanging;
                transform: translateY(10px);
            }

            &.tick-y { 
                text-anchor: end;
                dominant-baseline: middle;
                transform: translateX(-10px);
            }
        }
    }

    & .toggle-labels {
        position: absolute;
        top: 1em;
        right: 3%;

        & .toggle-checkbox {
            margin: 0 .35rem .15rem 0;
            vertical-align: middle;
        }
    
        & .toggle-label {
            color: var(--color-toggle);
        }
    }
}