
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: var(--body-font-family), sans-serif;
    background-color: var(--green8);
    color: hsl(0, 0%, 20%);
    padding-top: 10rem;
}

::selection {
    background: var(--yellow4);
  }

hr {
    width: 10rem;
    border-color: var(--green5);
    margin: 3rem auto 0 auto;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: var(--green3);
}

a:hover {
    color: var(--green4);
    transition: color .1s ease-in;
}

/*** Header bar ********************************/

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    background-color: var(--green2);
    /* padding: 5px max(10vw, 40px); */
    padding: 5px 10vw;
}

.nav-title {
    width: 140px;
    font-weight: 500;
    text-align: center;
    color: var(--green7);
}

.nav-title:hover {
    font-size: 1.02rem;
    color: var(--green8);
    transition: font-size .1s ease-in, color .05s ease-in
}

.nav-email {
    font-size: .8rem;
    color: var(--green6);
    text-transform: uppercase;
    padding-bottom: .1rem;
}

@media (max-width: 700px) {

    .site-header {
        flex-direction: column;
        gap: 0;
        align-items: center;
    }

    .nav-title {
        font-size: .9rem;
    }

    .nav-email {
        font-size: .7rem;
        padding-bottom: 0;
    }
}

/*** Body **************************************/

.content-grid {
    --padding-inline: 1rem;
    --content-max-width: 800px;
    --breakout-max-width: 1000px;
    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

    display: grid;
    gap: 0;
    grid-template-columns: 
        [full-width-start] minmax(var(--padding-inline), 1fr)
        [breakout-start] minmax(0, var(--breakout-size))
        [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end] 
        minmax(0, var(--breakout-size)) [breakout-end] 
        minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout) {
    grid-column: content;
}

.content-grid > .breakout {
    grid-column: breakout;
}

/*** Hero banner *******************************/

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    margin-left: 1.5rem;
}

.hero-pic img {
    width: min(30vw, 300px);
    height: 100%;
    object-fit: cover;
}

.hero-bio {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 1rem 0;
    text-wrap: balance;
}

.hero-bio > * {
    margin: .5rem 0;
}

.emph {
    color: var(--green3);
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    gap: .8rem;
}

.hero-buttons a {
    font-weight: normal;
}

.hero-button {
    width: auto;
    background: var(--green4);
    padding: 2px 10px;
    align-items: center;
    text-align: center;
    color: white;
    font-size: .80em;
    border-radius: 3px;
}

.hero-button:hover {
    transform: scale(1.05);
    background: var(--green3);
    transition: background .1s ease-in, transform .1s ease-in;
}

/*** Footer ************************************/

footer {
    display: block;
    margin-top: 10rem;
}

.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}

.copyright {
    flex: 1 1 0px;
    min-height: 3.5em;
    text-align: center;
    font-size: .825em;
    color: var(--gray2);
}

/*** Break points ******************************/

@media (max-width: 600px) {

    body {
        padding-top: 5rem;
    }

    .hero {
        flex-wrap: wrap;
        gap: 0;
        text-align: center;
        margin-left: 0;
    }

    .hero-pic img {
        width: 150px;
        border-radius: 50%;
    }

    .hero-buttons {
        justify-content: center;
    }

}
