
/*** General **************************************/

.title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2em;
}

.page-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
}

.page-subtitle {
    font-size: 1.2em;
    text-wrap: balance;
}

.graphic-container {
    margin: 1em 0;
}

.page-notes {
    font-size: 0.8em;

    & h3 {
        font-size: 1.4em;
        margin: 0;
    }

    :not(p) + & {
        margin-top: 4em;
    }
}

.chart-caption {
    font-size: .9em;
    color: var(--green3);
    order: 99;
}

.tooltip {
    display: none;
    position: absolute;
    z-index: 999;
    width: auto;
    height: auto;
    background: none;

    &.show {
        display: block;
        position: absolute;
    }

    & .tooltip-text {
        font-family: "Playpen Sans", sans-serif;
        font-size: .8rem;
        color: var(--red1);
        text-shadow: 0 0 2px white;
        text-wrap: balance;
    }
}

.math {
    font-family: "Noto Serif", serif;

    &.block-equation {
        text-align: center;
    }
    
    &.var, & .var {
        font-style: italic;
    }
}

/*** Particles *********************************/

#particles-container {

    & .graphic-container {
        display: grid;
        gap: 1em;
    }

    & .annot-forms-container {
        display: flex;
        justify-content: space-evenly;

        & .annot-left, .annot-right {
            width: 150px;
        }
    }

    & .annot-legend-container {
        display: flex;
        justify-content: center;

        & .annot-legend {
            width: 300px;
        }
    }

    & .annot-text {
        font-family: "Playpen Sans", sans-serif;
        font-size: .9em;
        fill: var(--red1);

        &.right {
            text-anchor: end;
        }
    }

    & #arrow {
        stroke-linejoin: "round";
        stroke: var(--red1);
        stroke-width: 2px;
        fill: none;
    }

    & .annot-arrow {
        stroke: var(--red1);
        stroke-width: 2px;
        fill: none;
    }

    & .forms {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
        & .form {
            display: flex;
            align-items: center;
    
            & #particles-dropdown select {
                width: auto;
                height: auto;
            }
        }
    }
    
    & .legend {
        display: flex;
        justify-content: center;
        gap: 1em;

        & .key {
            width: 1em;
            aspect-ratio: 1;
            border-radius: 100%;
        }

        & .key-1 { background: var(--blue3); }
        & .key-2 { background: var(--green4); }
        & .key-3 { background: var(--yellow3); }
        & .key-4 { background: var(--red2); }
        & .key-5 { background: var(--red3); }

        & .key-item {
            display: flex;
            gap: .5rem;
            align-items: center;
        }

        & .label {
            width: auto;
        }
    }
    
    & .panels {
        display: grid;
        grid-template-columns: repeat(2, minmax(158.25px, 475px));
        gap: clamp(10px, 2.5vw, 50px);
        justify-content: center;
        
        & .panel {
            width: auto;
            height: auto;
            background: var(--green9);
            border: .25em solid var(--green7);
        }
    }

    & .statistic {
        display: grid;
        grid-template-columns: repeat(2, minmax(158.25px, 475px));
        gap: clamp(10px, 2.5vw, 50px);
        text-align: center;
        color: var(--green2);
    }

    @media (width <= 440px) and (orientation: portrait) {
        grid-column: full-width;
        padding: 0 1rem;
    }
}


/*** Missing Migrants **************************/

#mmp-container {

    .graphic-container {
        position: relative;
    }

    & .globe {
        fill: var(--blue1);
    }

    & .graticule {
        fill: none;
        stroke: var(--blue6);
        stroke-width: .25px;
        stroke-opacity: 0;
    }

    & .land {
        fill: var(--blue2);
        fill-opacity: .25;
        stroke: none;
        transition: fill-opacity .1s ease-in;
    }

    .spike {
        fill: var(--red3);
        stroke: var(--red1);
        stroke-width: .25px;
        transition: opacity .25s;

        &.hide {
            opacity: 0;
            transition: opacity .25s;
        }
    }

    & .control-panel {
        position: absolute;
        top: .5em;
        right: 0;

        & .zoom-panel rect, & .spin-button rect {
            fill: white;
            fill-opacity: .8;
            stroke: var(--gray3);
            stroke-width: .5;
            stroke-opacity: .3;
        }
        
        & .zoom-panel line {
            stroke: var(--gray3);
            stroke-width: 1;
            stroke-opacity: .3;
            stroke-dasharray: 2;
        }
        
        & #plus, & #minus, & #reset{
            fill-opacity: .3;
        }
        
        & .zoom-btn {
            cursor: pointer
        }
        
        & .spin-button text {
            font-size: 0.7rem;
            font-size: clamp(0.7rem, 0.6142857142857141rem + 0.285714285714286vw, 0.8rem);
            fill: black;
            fill-opacity: .3;
            text-transform: uppercase;
        }
        
        & .spin-button:hover text {
            opacity: .8;
            transition: opacity .1s ease-in;
        }
    }

    & .legend-spike {
        position: absolute;
        bottom: .75rem;
        left: .75rem;

        display: grid;
        grid-template-columns: auto 50vw;
        column-gap: .25rem;

        & .legend-spike-spike {
            fill: var(--red3);
            stroke: var(--red1);
            stroke-width: .25px;
            transition: opacity .25s;
        }
        
        & .legend-text {
            justify-self: end;
            font-size: clamp(0.7rem, 0.50rem + 0.60vw, 0.9rem);
            mix-blend-mode: multiply;
            white-space: pre;
        }

        & .legend-text.bottom {
            width: 40ch;
            grid-column: span 2;
            justify-self: start;
            padding-top: clamp(0.5rem, 0.07rem + 1.45vw, 1rem);
            font-size: clamp(0.45rem, 0.275rem + 0.575vw, 0.65rem);
            line-height: clamp(0.45rem, 0.275rem + 0.575vw, 0.65rem);
            display: flex;
            flex-wrap: wrap;
            text-wrap: balance;
        }

        & .legend-spike-key {
            display: flex;
            align-items: center;
            justify-self: flex-start;
        }
    }

    @media (width <= 440px) and (orientation: portrait) {

        grid-column: full-width;

        & .graphic-container {
            display: flex;
            flex-direction: column;
            gap: .5em;
        }

        & .control-panel {
            top: 1em;
            right: 1em;
        }

        & .legend-spike {
            position: static;
            order: 3;
            align-self: flex-start;
            padding-left: 2em;
        }
    }

}

/*** Trade *************************************/

.toggle-button {
    --btn-width: 2.5rem;
    --btn-height: 1.25rem;

    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    margin: 1rem;
    padding: 0 auto;

    & .button {
        background-color: var(--green3);
        width: var(--btn-width);
        height: var(--btn-height);
        border-radius: 4rem;
        cursor: pointer;
        position: relative;
        transition: .2s;
        display: flex;
        align-items: center;
    }
    
    & .button:before {
        position: absolute;
        content: "";
        background-color: white;
        width: calc(var(--btn-height) * .7);
        height: calc(var(--btn-height) * .7);
        border-radius: calc(var(--btn-height) * .7);
        margin-left: calc(var(--btn-height) * .15);
        transition: .2s;
    }
    
    & input:checked + .button {
        background-color: var(--red2);
    }

    & input:checked + .button::before {
        transform: translateX(calc(var(--btn-width) - var(--btn-height)));
    }

    & input {
        display: none;
    }

    & .toggle-label {
        color: var(--gray4);
        font-size: 0.75rem;
        font-size: clamp(0.75rem, 0.65rem + 0.5vw, 1rem);

        &.left {
            justify-self: end;
        }

        &.on {
            color: var(--green1);
            font-weight: 600;
        }
    }
}

#trade-container {

    .graphic-container {
        position: relative;
    }

    & .bg {
        fill: var(--blue7);
    }

    & .land {
        fill: var(--green6);
        fill-opacity: .8;
        stroke: var(--blue7);
        stroke-width: .25px;
        transition: fill-opacity .1s ease-in;
    }

    & .node {
        fill: var(--blue3);
        fill-opacity: .4;
        stroke: var(--blue1);
        stroke-opacity: .4;
        transition: 
            fill .1s ease-in, 
            fill-opacity .1s ease-in, 
            stroke .1s ease-in,
            stroke-opacity .1s;

        &.highlight {
            fill: var(--red3);
            fill-opacity: .9;
            stroke: var(--red1);
            stroke-opacity: 1;
            transition: 
                fill .1s ease-in, 
                fill-opacity .1s ease-in, 
                stroke .1s ease-in,
                stroke-opacity .1s ease-in;
        }

        &.sourced {
            fill-opacity: 1;
            stroke-opacity: 1;
        }
    }

    & .link {
        stroke-opacity: 0;
        transition: 
            stroke-opacity .1s ease-in;
        
        &.highlight {
            stroke: var(--red2) !important;
            stroke-opacity: .4 !important;
            transition: 
                stroke .1s ease-in,
                stroke-opacity .1s ease-in;
        }

        &.in-force {
            stroke: var(--blue5);
            stroke-opacity: .1;
            transition: 
                stroke .1s ease-in,
                stroke-opacity .1s ease-in;
        }
    }

    & .highlight {
        cursor: pointer;
    }

    & .demo {
        position: absolute;
        bottom: 0px;
        width: 5rem;
        height: 4rem;
        margin: 0 0 .5rem 1.5rem;

        & .demo-text {
            display: block;
            font-size: .75rem;
            color: var(--blue3);
            margin-bottom: .5rem;
        }

        & .demo-node {
            width: 1rem;
            height: 1rem;
            border-radius: 100%;
            background: var(--blue3); 
            opacity: .4;
            border: 1px solid var(--blue1);
        }

        &.hover {

            & .demo-graphic {
                margin-left: 1rem;
            }

            & .demo-node {
                animation: hovered 2s ease-in-out infinite;
            }
    
            & img {
                position: absolute;
                top: 2rem;
                left: 2.7rem;
                width: 1rem;   
                animation: hover 2s ease-in-out infinite;
            }

            @media (width <= 500px) {
                display: none;
            }
        }

        &.drag {

            & .demo-graphic {
                margin-left: .5rem;
                animation: slide 3s ease-in-out infinite;
            }
    
            & .demo-node {
                animation: selected 3s ease-in-out infinite;
            }
    
            & img {
                position: absolute;
                top: .5rem;
                left: 0;
                width: 1rem;   
            }
        }
    }
}

@keyframes slide {
    0% { transform: none; }
    30% { transform: none; }
    80% { transform: translateX(3rem); }
    100% { transform: translateX(3rem); }
}

@keyframes hover {
    0% { transform: none; }
    50% { transform: translateX(-1.5rem); }
    100% { transform: translateX(-1.5rem); }
}

@keyframes hovered {
    24% { 
        background: var(--blue3); 
        opacity: .4;
        border: 1px solid var(--blue1);
    }
    25% {
        background: var(--red3);
        opacity: .9;
        border: 1px solid var(--red1);
    }
    100% {
        background: var(--red3);
        opacity: .9;
        border: 1px solid var(--red1);
    }
}

@keyframes selected {
    19% { 
        background: var(--blue3); 
        opacity: .4;
        border: 1px solid var(--blue1);
    }
    20% {
        background: var(--red3);
        opacity: .9;
        border: 1px solid var(--red1);
    }
    100% {
        background: var(--red3);
        opacity: .9;
        border: 1px solid var(--red1);
    }
}