
/*** General *****************************************************************/

.title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

.page-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
}

.page-subtitle {
    font-size: 1.2rem;
    margin: 0;
}

.screen-warning {
    display: none;
    font-size: .8em;
    font-style: italic;
    color: var(--green6);
    text-align: center;
}

@media (max-width: 700px) {
    .screen-warning {
        display: block;
    }
}

.graphic-container {
    display: grid;
    overflow-x: scroll;
}

.page-notes {
    font-size: .8em;
}

/*** Particles ***************************************************************/

#particles-container .annotation {
    display: flex;
    justify-content: center;
}

#particles-container #annotation-arrow {
    stroke-linejoin: "round";
    stroke: var(--red1);
    stroke-width: 2px;
    fill: none;
}

#particles-container .annotation-arrow {
    stroke: var(--red1);
    stroke-width: 2px;
    fill: none;
}

#particles-container .annotation-text {
    font-family: "Playpen Sans", sans-serif;
    font-size: .9em;
    fill: var(--red1);
    text-anchor: middle;
}

#particles-container .annotation-forms .annotation-text {
    transform: rotate(-5deg);
}

#particles-container .annotation-legend .annotation-text {
    transform: none;
}

#particles-container .forms {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: var(--dashboard-width);
}

#particles-container .form {
    display: flex;
    align-items: center;
    margin: 15px 0px;
}

#particles-container form#particles-dropdown select {
    font: var(--body-font-family);
    font-size: 1em;
    width: 250px;
    height: auto;
}

#particles-container .legend {
    display: flex;
    justify-content: center;
}

#particles-container .panels {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#particles-container .panel {
    width: auto;
    height: auto;
}

#particles-container .panel-bg {
    fill: var(--green9);
    stroke: var(--green7);
    stroke-width: 7px;
}

/*** Remittances *******************************/

#remittances-container {

    & .bg {
        /* fill: var(--blue6); */
        /* fill: var(--yellow5); */
        /* opacity: .2; */
        fill: var(--blue7);
        /* stroke: var(--green7);
        stroke-width: 3px; */
    }

    & .border {
        fill: var(--green6);
        fill-opacity: .8;
        stroke: var(--blue7);
        stroke-width: .25px;
        transition: fill-opacity .1s ease-in;
    }

    & .node {
        fill: var(--blue3);
        fill-opacity: .4;
        stroke: var(--blue1);
        stroke-opacity: .4;
        transition: 
            fill .1s ease-in, 
            fill-opacity .1s ease-in, 
            stroke .1s ease-in,
            stroke-opacity .1s;

        &.highlight {
            fill: var(--red3);
            fill-opacity: 1;
            stroke: var(--red1);
            stroke-opacity: 1;
            transition: 
                fill .1s ease-in, 
                fill-opacity .1s ease-in, 
                stroke .1s ease-in,
                stroke-opacity .1s ease-in;
        }
    }

    & .link {
        stroke-opacity: .1;
        stroke: var(--gray4);
        /* stroke-opacity: .2; */
        transition: 
            stroke-opacity .75s ease-in;
        
        &.highlight {
            stroke: var(--red2);
            stroke-opacity: .4;
            transition: 
                stroke .75s ease-in,
                stroke-opacity .75s ease-in;
        }
    }
}