
/* Parent containers */

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-tiles {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1em;
}

/* Tile template */

.project-tile {
    position: relative;
}

.project-tile-link {
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    color: var(--green2);
    /* font-weight: normal; */
    padding: .8rem .6rem 1rem .6rem;

    & .project-tile-desc {
        color: var(--green3);
        font-weight: normal;
    }
}

.project-tile-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--green85);
    border: 5px solid var(--green7);
}

.project-tile-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 110px;
    overflow: hidden;
}

.project-tile-title {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    text-wrap: balance;
    margin: .5rem 0;
}

.project-tile-desc {
    font-size: .8em;
    text-wrap: balance;
    margin: 0;

    @media (width <= 425px) {
        font-size: 1em;
    }
}

/*** Hover effects *****************************/

.project-tile-link:focus-visible .project-tile-box, 
.project-tile:hover .project-tile-box {
    background-color: var(--green9);
    border-color: var(--green4);
    transform: scale(1.01);
    transition: 
        background-color .1s ease-in, 
        border-color .1s ease-in,
        transform .1s ease-in;
}

.project-tile-link:focus-visible .project-tile-title,
.project-tile:hover .project-tile-title {
    color: var(--green1);
    transition: color .1s ease-in;
}

.project-tile-link:focus-visible .project-tile-desc,
.project-tile:hover .project-tile-desc {
    color: var(--green2);
    transition: color .1s ease-in;
}

/*** Project-specific **************************/

/* Two Points */

#twopoints {

    & .project-tile-logo img {
        opacity: .7;
        width: 100px;
        height: auto;
        animation: rotate 30s linear infinite;
    }
    
    &.project-tile:hover img {
        opacity: .9;
        transition: opacity .1s ease-in;
    }
}

@keyframes rotate {
    from { transform: rotate(0); }
    to { transform: rotate(1turn); }
}

/* Particles */

#popden {

    & rect {
        fill: none;
    }
    
    & circle {
        fill: var(--green4);
    }
    
    &.project-tile:hover circle {
        fill: var(--green3);
        transition: fill .1s ease-in;
    }
}

/* Learning Curves */

#econ {

    .icon-bg {
        position: absolute;
        opacity: .75;
        z-index: -1;
        width: 120px;
        height: 110px;
        background: white;
        border: 1.5px solid var(--gray7);
        border-radius: 20px;
    }

    .title-block & {
        width: 95px;
        height: 85px;
    }

    & path {
        opacity: .5;
    }
    
    & .econ-axes {
        opacity: 1;
        stroke: var(--green5);
        stroke-width: 3px;
    }
    
    &.project-tile:hover, &.page-icon {

        & path {
            opacity: 1;
            transition: opacity .1s ease-in;
        }
        
        & .econ-axes {
            stroke: var(--green3);
            transition: stroke .1s ease-in;
        }
    }
}

/* Missing Migrants */

.mmp-icon {

    & .globe {
        opacity: .5;
        fill: var(--blue6);
        stroke: none;
        stroke-width: 0;
    }

    & .land {
        fill: var(--green6);
    }
    
    & .spike {
        fill: var(--red2);
        fill-opacity: 0.6;
        transition: opacity 350ms;

        &.hide {
            opacity: 0;
        }
    }
}

#mmp.project-tile:hover, .title-block .mmp-icon {

    .spike {
        fill-opacity: 0.85;
    }

    .globe {
        opacity: .8;
        transition: opacity .1s ease-in;
    }
    
    .land {
        fill: var(--green4);
        transition: fill .1s ease-in;
    }
}


/* MRIO */

#mrio {
    --mrio-base-opacity: .4;
    --mrio-highlight-opacity: .8;
    --mrio-duration: 4s;

    & .header {
        opacity: var(--mrio-base-opacity);
        fill: var(--gray4);
    }
    
    & .input {
        fill: var(--blue3);
        animation: input-highlight var(--mrio-duration) linear infinite;
    }
    
    & .va {
        fill: var(--red2);
        animation: va-highlight var(--mrio-duration) linear infinite;
    }
    
    & .final {
        fill: var(--yellow2);
        animation: final-highlight var(--mrio-duration) linear infinite;
    }
    
    & .output {
        fill: var(--green4);
        animation: output-highlight var(--mrio-duration) linear infinite;
    }

    &.project-tile:hover {
        --mrio-base-opacity: .6;
        --mrio-highlight-opacity: 1;
    }
}

@keyframes input-highlight {
    0% { opacity: var(--mrio-base-opacity); }
    20% { opacity: var(--mrio-highlight-opacity); }
    40% { opacity: var(--mrio-base-opacity); }
    100% { opacity: var(--mrio-base-opacity); }
}

@keyframes va-highlight {
    0% { opacity: var(--mrio-base-opacity); }
    20% { opacity: var(--mrio-base-opacity); }
    40% { opacity: var(--mrio-highlight-opacity); }
    60% { opacity: var(--mrio-base-opacity); }
    100% { opacity: var(--mrio-base-opacity); }
}

@keyframes final-highlight {
    0% { opacity: var(--mrio-base-opacity); }
    40% { opacity: var(--mrio-base-opacity); }
    60% { opacity: var(--mrio-highlight-opacity); }
    80% { opacity: var(--mrio-base-opacity); }
    100% { opacity: var(--mrio-base-opacity); }
}

@keyframes output-highlight {
    0% { opacity: var(--mrio-base-opacity); }
    60% { opacity: var(--mrio-base-opacity); }
    80% { opacity: var(--mrio-highlight-opacity); }
    100% { opacity: var(--mrio-base-opacity); }
}

/* Snapshot */

#snapshot {
    
    & img {
        opacity: .7;
        width: 120%;
        height: auto;
        animation: pan-vertically 10s ease-in-out infinite;
    }

    &.project-tile:hover img {
        opacity: .9;
        transition: opacity .1s ease-in;
    }
}

@keyframes pan-vertically {
    0% { transform: translateY(20%); }
    50% { transform: translateY(-20%); }
    100% { transform: translateY(20%); }
}

/* Trade */

.trade-icon {
    
    .title-block & {
        background: var(--blue8);
        border: 1.5px solid var(--blue7);
        border-radius: 20px;
    }

    & .bg {
        fill: var(--blue7);
        opacity: .5;
        opacity: 0;
    }

    & .land {
        fill: var(--green6);
        fill-opacity: .6;
        transition: fill-opacity .1s ease-in;
    }

    & .node {
        fill: var(--blue3);
        fill-opacity: .2;
        stroke: var(--blue1);
        stroke-width: 1px;
        stroke-opacity: .2;
        transition: 
            stroke-opacity .25s;
    }

    & .link {
        stroke-opacity: 0;
        stroke-width: .1px;
        transition: 
            stroke-opacity .1s ease-in;
        
        &.in-force {
            stroke: var(--blue5);
            stroke-opacity: 0;
            transition: 
                stroke 1s ease-in,
                stroke-opacity 1s ease-in;
        }
    }
}

#trade.project-tile:hover, .title-block .trade-icon {

    & .bg {
        fill: var(--blue7);
        /* opacity: 1; */
        opacity: 0;
        transition: opacity .1s ease-in;
    }

    & .land {
        fill-opacity: .8;
        transition: fill-opacity .1s ease-in;
    }

    & .node {
        fill-opacity: .4;
        stroke-opacity: .4;
        transition: 
            fill-opacity .1s ease-in, 
            stroke-opacity .1s;
    }
}

