
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap');

:root {
    --body-font-family: "Poppins";

    --width: 700px;
    --dashboard-width: 1000px;
    --dashboard-width-mobile: 920px;

    --green1:hsl(70, 20%, 20%);
    --green2:hsl(70, 20%, 30%);
    --green3:hsl(70, 20%, 40%);
    --green4:hsl(70, 20%, 50%);
    --green5:hsl(70, 20%, 60%);
    --green6:hsl(70, 20%, 70%);
    --green7:hsl(70, 30%, 80%);
    --green8:hsl(70, 30%, 90%);
    --green85:hsl(70, 30%, 95%);
    --green9:hsl(70, 30%, 99%);

    --blue1:hsl(200, 30%, 25%);
    --blue2:hsl(200, 30%, 35%);
    --blue3:hsl(200, 30%, 45%);
    --blue4:hsl(200, 30%, 55%);
    --blue5:hsl(200, 30%, 65%);
    --blue6:hsl(200, 30%, 75%);
    --blue7:hsl(200, 30%, 85%);
    --blue8:hsl(200, 30%, 90%);
    --blue9:hsl(200, 30%, 95%);

    --red1:hsl(335, 60%, 55%);
    --red2:hsl(335, 60%, 65%);
    --red3:hsl(335, 60%, 75%);
    --red4:hsl(335, 60%, 85%);
    --red5:hsl(335, 60%, 95%);

    --yellow1:hsl(45, 75%, 55%);
    --yellow2:hsl(45, 75%, 60%);
    --yellow3:hsl(45, 75%, 65%);
    --yellow4:hsl(45, 75%, 70%);
    --yellow5:hsl(45, 75%, 75%);
    
    --gray1:hsl(0, 0%, 35%);
    --gray2:hsl(0, 0%, 45%);
    --gray3:hsl(0, 0%, 55%);
    --gray4:hsl(0, 0%, 65%);
    --gray5:hsl(0, 0%, 75%);
    --gray6:hsl(0, 0%, 85%);
    --gray7:hsl(0, 0%, 90%);
}
